.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 100%;
  width: 100px;
  svg {
    transition: color 300ms;
    &:hover {
      color: #083032;
    }
  }
}
.next {
  right: 0;
  top: 0%;
  justify-content: flex-end;
}
.prev {
  left: 0;
  top: 0;
}
@media only screen and (max-width: 550px) {
  .prev,
  .next {
    bottom: 0;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 425px) {
  .arrow {
    display: none;
  }
}
