.nav {
  height: clamp(100px, 17vh, 150px);
}
.main {
  min-height: calc(100vh - 15vh - clamp(100px, 17vh, 150px));
  background-color: green;
}
.footer {
  height: 15vh;
  background-color: blue;
}
@media screen and (min-width: 576px) {
  .nav {
    height: clamp(125px, 17vh, 175px);
  }
  .main {
    min-height: calc(100vh - 15vh - clamp(125px, 17vh, 175px));
  }
  .footer {
    height: 15vh;
  }
}

@media screen and (min-width: 800px) {
  .nav {
    height: 8vh;
  }
  .main {
    min-height: calc(100vh - 15vh - 8vh);
  }
  .footer {
    height: 20vh;
  }
}
