$primary: #324b66;
$primary-hover: #0280b3;
$success: #84b84c;
$error: #f00;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;
$font-red: #e80005;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$boder-grey: #444444;

$background_light: #fff;
$background_gradient: #d9d9d9;
$background_gradient2: #dddddd;
$background-dark: #151515;
$background-dark-absolute: #000;
